body{
  background-color:dodgerblue;
}

.log-in, .verify{
  display:block;
  margin:0 auto;
  margin-top:15px;
}

.log-in-area{
  text-align:center;
}

.disabled{
  opacity:.7;
}

.log-in-alert, .wrong-pass-alert{
  width:300px;
  position:absolute;
  top:25px;
  left:45px;
  margin:0 auto;
  z-index:100;
  box-shadow:3px 3px 10px grey;
}

.log-in-area input{
  box-shadow:2px 2px 10px grey;
  /* vendor prefixes */
  -webkit-box-shadow:2px 2px 10px grey;
  -moz-box-shadow:2px 2px 10px grey;
  -ms-box-shadow:2px 2px 10p grey;
  border-radius:6px;
}
