.play:hover{
  color:lightgrey;
}

.play:active{
  color:darkgrey;
}

.artist-search, .top-tracks, .country-select{
  width:70%;
  margin:0 auto;
}

.country-select{
  margin-top:10px;
}

@media (max-width: 465px) {
  .artist-search, .top-tracks{
    width:80%;
  }
 }
